.column1 {
    width :10%;
}

.column2 {
    width :20%;
}
.column3 {
    width :5%;
}
.column4 {
    width :10%;
}

.column5 {
    width :20%;
}

.columnWarna {
    width : 10%
}

.columnTotal{
    width : 10%;
}



